<!-- <h2>Hello <%= @name %>!<h2> -->
<h2>Hello <%= session[:name] %>!<h2>
<form action="/game" method='post'>
  <input type="radio" name="choice" value="Rock">Rock
  <input type="radio" name="choice" value="Paper">Paper
  <input type="radio" name="choice" value="Scissors">Scissors
  <input type="submit" value="Submit">
  <!-- <input type="submit" name="choice" value="Rock"> -->
  <!-- <input type="submit" name="choice" value="Paper"> -->
  <!-- <input type="submit" name="choice" value="Scissors"> -->
</form>
